<!doctype html>
<html>
<head>
	<title>XL</title>
	<link rel="stylesheet" type="text/css" href="/_css/styles.min.css">
</head>
<body>
	<canvas id="stage"></canvas>
	<script type="text/javascript" src="/_scripts/compiled/characters.js"></script>
	<script type="text/javascript" src="/characters/all_around_dude.js"></script>

	<script type="text/javascript" src="/_scripts/compiled/stages.js"></script>

	<script type="text/javascript" src="/_scripts/compiled/game.js"></script>

	<script>

		var activeGame = new Game("stage", 800, 450, 60);
		var tempStage = new Stage(activeGame, "basic stage", [
			new Floor(100, 350, 600),
			new Floor(50, 250, 100),
			new Floor(650, 250, 100)
		], 1000);
		var tempCharacter = new AllAroundDude(activeGame, 250, 350);
		var tempCharacter2 = new AllAroundDude(activeGame, 550, 350);
		var playerOne = new Player(tempCharacter, { left: 37, right: 39, jump: 38, basicAttack: 16, strongAttack: 90 })
		var playerTwo = new Player(tempCharacter2, { left: 65, right: 68, jump: 87, })
		var tempScene = new Scene(activeGame, tempStage, [playerOne, playerTwo]);

	</script>
</body>
</html>