<!doctype html>
<html>
<head>
	<title>XL</title>
	<link rel="stylesheet" type="text/css" href="/_css/styles.min.css">
</head>
<body>
	<canvas id="stage"></canvas>
	<script type="text/javascript" src="/_scripts/compiled/characters.js"></script>
	<script type="text/javascript" src="/characters/all_around_dude.js"></script>

	<script type="text/javascript" src="/_scripts/compiled/stages.js"></script>

	<script type="text/javascript" src="/_scripts/compiled/game.js"></script>

	<script>

		var activeGame = new Game("stage", 800, 450, 25);
		var tempStage = new Stage(activeGame, "basic stage", [
			new Floor(100, 350, 600),
			new Floor(50, 250, 100),
			new Floor(650, 250, 100)
		], 1000);
		var tempCharacter = new AllAroundDude(activeGame, 250, 350);
		var tempScene = new Scene(activeGame, tempStage, tempCharacter);

	</script>
</body>
</html>